@import "generales";

.carrusel{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 50px;
}
.parrafoIndex{
    font-family: $font;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}



@media only screen and (min-width:0px) and (max-width:767px){
.carrusel{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-bottom: 0px;
}
.paddingResponsive{
    padding-bottom: 0px !important;
}
.paddingResponsive__parrafo{
    padding-top: 10px !important;
}
.parrafoIndex{
    text-align: justify;
}
}